@import url( 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import "variables";
@import "reset";
@import "animate";


*, html, body{
  font-family: 'Roboto', sans-serif;
  // background: purple;
  box-sizing: border-box;
  color: $darkgrey;
  letter-spacing: .016rem;
}

.wrapper{
  max-width: 1200px;
  margin:0 auto;
}

@import "listings";
@import "content-area";
